@page "/pages/groups"

@inject HttpClient Http
@inject NavigationManager NavigationManager

@using System.Linq
@using Velvetech.Presentation.Shared
@using Velvetech.Presentation.Shared.Dtos
@using Velvetech.Presentation.Shared.Requests

@namespace Velvetech.Presentation.Client.Pages.Group

<h1>Groups</h1>
<h1>@_errorMessage</h1>

<button class="btn btn-primary" @onclick="Add">Add group</button>
<br />
<button class="btn btn-primary" @onclick="IncludeStudentAsync">Include student</button>
<button class="btn btn-primary" @onclick="ExcludeStudentAsync">Exclude student</button>
@*<button class="btn btn-primary" @onclick="Add">Add student to all groups</button>*@

@if (groups == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Group name</th>
				<th>Student count</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@{
				counter = 0;
			}
			@foreach (var group in groups)
			{
				var i = counter++;

				<tr class="">
					<td>@group.Name</td>
					<td>@group.StudentsCount</td>
					<td>
						<button class="btn btn-primary" @onclick="() => Edit(i)">Edit</button>
						<button class="btn btn-primary" @onclick="async () => await RemoveAsync(i)">Remove</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

<Velvetech.Presentation.Client.Pages.Group.Add @ref="AddComponent" OnSave="LoadList" />
<Velvetech.Presentation.Client.Pages.Group.Edit @ref="EditComponent" OnSave="LoadList" />

@code
{
	int counter;
	GroupDto[] groups;

	string _errorMessage;
	private Add AddComponent { get; set; }
	private Edit EditComponent { get; set; }

	void Add()
	{
		if (AddComponent is null)
			return;
		AddComponent.Group = new GroupDto();
		AddComponent.Open();
	}

	void Edit(int index)
	{
		if (EditComponent is null)
			return;
		EditComponent.Group = groups[index];
		EditComponent.Open();
	}

	async Task RemoveAsync(int index)
	{
		var guid = groups[index].Id;
		await Http.DeleteAsync($"api/Groups/Delete/{guid}");
		await LoadList();
	}

	async Task LoadList()
	{
		groups = await Http.GetFromJsonAsync<GroupDto[]>($"api/Groups/List");
		//groups = await Http.GetFromJsonAsync<GroupDto[]>($"api/Groups/List?group=thir");
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadList();
	}

	async Task IncludeStudentAsync()
	{
		var studentId = (await Http.GetFromJsonAsync<Page<StudentDto>>($"api/Students/List")).Items.First().Id;
		var groupId = (await Http.GetFromJsonAsync<GroupDto[]>($"api/Groups/List")).First().Id;

		var result = await Http.PostAsJsonAsync(
			$"api/Groups/IncludeStudent",
			new StudentGroupRequest
			{
				StudentId = studentId,
				GroupId = groupId
			});

		_errorMessage = result.ToString();
		await LoadList();
	}

	async Task ExcludeStudentAsync()
	{
		var studentId = (await Http.GetFromJsonAsync<Page<StudentDto>>($"api/Students/List")).Items.First().Id;
		var groupId = (await Http.GetFromJsonAsync<GroupDto[]>($"api/Groups/List")).First().Id;

		var result = await Http.PostAsJsonAsync(
			$"api/Groups/ExcludeStudent",
			new StudentGroupRequest
			{
				StudentId = studentId,
				GroupId = groupId
			});

		_errorMessage = result.ToString();
		await LoadList();
	}
}
