@page "/addstudent"
@using Velvetech.Presentation.Shared
@inject HttpClient Http

@*<EditForm Model="@student" OnValidSubmit="@HandleValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<p>
		<label>
			First name:
			<InputText @bind-Value="student.FirstName" />
		</label>
	</p>
	<p>
		<label>
			Middle name:
			<InputTextArea @bind-Value="student.MiddleName" />
		</label>
	</p>
	<p>
		<label>
			Last name:
			<InputTextArea @bind-Value="student.Surname" />
		</label>
	</p>
	<p>
		<label>
			Callsign:
			<InputTextArea @bind-Value="student.Callsign" />
		</label>
	</p>
	<p>
		<label>
			Sex:
			<InputSelect @bind-Value="student.Sex">
				<option value="">Select classification ...</option>
				@{
					sexCounter = 0;
				}
				@foreach (var sex in sexes)
				{
					var i = sexCounter++;
					<option value="@i">@sex.Name</option>
				}
			</InputSelect>
		</label>
	</p>

	</EditForm>
	*@



@*<p>
		<label>
			Maximum Accommodation:
			<InputNumber @bind-Value="starship.MaximumAccommodation" />
		</label>
	</p>
	<p>
		<label>
			Engineering Approval:
			<InputCheckbox @bind-Value="starship.IsValidatedDesign" />
		</label>
	</p>
	<p>
		<label>
			Production Date:
			<InputDate @bind-Value="starship.ProductionDate" />
		</label>
	</p>

	<button type="submit">Submit</button>

	<p>
		<a href="http://www.startrek.com/">Star Trek</a>,
		&copy;1966-2019 CBS Studios, Inc. and
		<a href="https://www.paramount.com">Paramount Pictures</a>
	</p>*@


@code {
/*
	Student student;
	Group[] groups;
	Sex[] sexes;*/

	int sexCounter;
	int groupCounter;

	private async Task HandleValidSubmit()
	{
		
	}

	protected override async Task OnInitializedAsync()
	{
		//var groupsTask = Http.GetFromJsonAsync<Group[]>("api/Groups");
		//var sexesTask = Http.GetFromJsonAsync<Sex[]>("api/Sexes");
		//groups = await groupsTask;
		//sexes = await sexesTask;
		//await Http.PostAsJsonAsync<StudentCommon>("api/Students", new StudentCommon() { FullName = "Test" });
	}
}