@page "/editstudent"
@using Velvetech.Presentation.Shared
@inject HttpClient Http

<h1>Students</h1>

<p><em>@Title</em></p>

@if (student == null)
{
	<p><em>Loading...</em></p>
}
else
{
	
}

@code {
	int counter;
	private StudentCommon student;
	string Title = "";

	protected override async Task OnInitializedAsync()
	{
		student = await Http.GetFromJsonAsync<StudentCommon>("api/Students");
	}
}