@inject HttpClient Http

@using System.Linq
@using Presentation.Shared.Dtos

@inherits ComponentBase
@namespace Presentation.Client.Pages

<h1>Students</h1>
<h1>@title</h1>

<button class="btn btn-primary" @onclick="GenerateStudentAsync">Generate student</button>
<br />
<button class="btn btn-primary" @onclick="AddStudentAsync">Add student</button>

@if (students == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Full name</th>
				<th>Callsign</th>
				<th>Groups</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@{
				counter = 0;
			}
			@foreach (var student in students)
			{
				var i = counter++;

				<tr class="">
					<td>@student.FirstName</td>
					<td>@student.Callsign</td>
					<td>@(string.Join(", ", student.Groups.Select(x => x.Name)))</td>
					<td>
						<button class="btn btn-primary" @onclick="() => EditAsync(i)">Edit</button>
						<button class="btn btn-primary" @onclick="() => RemoveAsync(i)">Remove</button>
					</td>
				</tr>

				{
					counter++;
				}
			}
		</tbody>
	</table>
}